<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students List</title>
</head>
<body>

    {% for student in student_list %}
        <hr>
        <p>Name: {{student.name}}</p>
        <p>Roll No: {{student.roll}}</p>
        <p>Course: {{student.course}}</p>
    {% endfor %}
    <br>
    {% for student in freshers %}
        <hr>
        <p>Name: {{student.name}}</p>
        <p>Roll No: {{student.roll}}</p>
        <p>Course: {{student.course}}</p>
    {% endfor %}
</body>
</html>